@import url('https://fonts.googleapis.com/css?family=Work+Sans:300');

body{
	font-family: 'Work Sans', sans-serif;
}

*{
	padding: 0px;
	margin: 0px;
}

#nav{
	width:  100%;
	height: 70px;
	line-height: 70px;
	background: #100e0e;
	position: fixed;
	top: 0;
	z-index: 100;
}

#nav h1{
   float: left;
   font-size: 2.5em;
   margin-left: 15px;
   font-weight: 100;
}

#nav h1 a{
	text-decoration: none;
	color: white;
	
}

#nav h1 a span{
	color: green;
}

#nav ul{
	float: right;
	margin-right: 15px;
	text-transform: uppercase;

}

#nav ul li{
display: inline-block;
list-style: none;
position: relative;
}

#nav ul li a{
	text-decoration: none;
	padding: 25px;
	color: white;
} 

#nav ul li:hover{
       background: #777;
       transition: all ease-in-out 0.45s;
}

#nav ul ul{
	position: absolute;
	display: none;
}

#nav ul li:hover >ul {
	display: block;
	background: #100e0e;
	line-height: 50px;

}

#active{
	background: #777;
}

.main-content{
	width: 100%;
	height: 600px;
	margin-top: 70px !important;
	background-repeat: no-repeat;
    background-size: cover;
    text-align: center; 
    color: white;
    line-height: 40px;   
}

.main-content h1{
	padding-top: 80px;
}

.main-contact{
	text-align: -webkit-center;
	margin-top: 130px;
}

.contact{
	width: 150px;
	height: 45px;
	text-align: center;
	color: white;
	font-weight: 100;
	background-color: Transparent;
	background-repeat:no-repeat;
	border: 3px solid white;
	cursor: pointer;
	overflow: hidden;
	outline:none;
}

#contact a{
	color: white;
	text-decoration: none;
}

#footer{
	width: 100%;
	height: 70px;
	background: #202020;
	line-height: 70px;

}

#footer h2{
	color: white;
	float: right;
	margin-right: 20px;
	font-weight: 100;
	font-family: 'Work Sans', sans-serif;
	text-align: right;
}

 #nav2 ul{
 	float: left;
 	margin-left: 20px;
 }
#nav2 ul li{
	display: inline-block;
	list-style-type: none;
	
}

#nav2 ul li a{
	text-decoration: none;
	color: white;
	
}
#icon{
	font-size: 30px;
	padding: 15px;
}
#icon1{
	font-size: 30px;
	padding: 15px;
}
#icon:hover{
	color: #3b5998;
	transition: all ease-in-out 0.40s;
}

#icon1:hover{
	color: #1dcaff;
	transition: all ease-in-out 0.40s;
}

#form{
	width: 100%;
	height: 492px;
	color: black;
	line-height: 30px;
	
}


form{
	margin-bottom: 100px;
	float: right;
	margin-right: 50px; 
	margin-top: 0;
	//position: relative;
}

form a{
	text-decoration: none;
}
#name{
	width: 200px;
	height: 30px;
	padding: 3px 0px 3px 10px ;
	margin-right: 10px; 
	border: 1px solid  #ccc;
	font-family: 'Work Sans', sans-serif;
	
}

#com{
	width:655px;
	height: 150px;
	padding: 5px 0 0 9px;
	font-family: 'Work Sans', sans-serif;
	border: 1px solid  #ccc;
	
	
}
#sub{
	width: 150px;
	background: #777;
	line-height:1.4em;
	height: 50px;
	border: 0px;
    color:#fff;
    font-size: 16px;
    display: inline;
    padding: 10px 20px 10px 20px;
}

#sub:hover{
	background: red;
}

.contact-us{
	margin-top: 70px;
}

.image-container{
	text-align: center;
}
.address_contact {
    width: 50%;
    float: left;
    position: absolute;
    text-align: center;
    padding-top: 65px;


}

.mar-bottom20 {
    margin-bottom: 20px;
}

.address_contact li i{
    color: #777;
}

